<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917656368103-20rf1fb1pd76lg9glr774htjeqo1dleb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917656368103-20rf1fb1pd76lg9glr774htjeqo1dleb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>917656368103-gq0c41lp235vegivb2if9bsp4iljc4mp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUCVmoXQUJAVlyH3l6n1zzJRjwv9Z_vnE</string>
	<key>GCM_SENDER_ID</key>
	<string>917656368103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-a7e46</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-a7e46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917656368103:ios:74e8681ef71c54ccf8c342</string>
</dict>
</plist>